<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hi <%= @user.username %> ! </p>
    <p> Please join us for our scheduled interview in 30 minutes! </p><br>
    <p> Interview Details </p><br>
    <p>Title: <%= @interview.title %></p>
    <p>What we'll be talking about: <%= @interview.description %></p>
    <p>Scheduled Time: <%= @interview.scheduled_time %></p>
    <p>
  </body>
</html>